* {
    margin: 0;
    padding: 0;
}

body {
    height: 1500px;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 18px;
    margin: 20px 0;
}

p {
    font-size: 12px;
    line-height: 14px;
}

footer {
    font-size: 9px;
    text-align: center;
    margin: 15px 0;
}

article .last-child {
    padding: 15px 0 28px 0;
}

img.awesome {
    width: 207px;
    float: left;
    margin: 0 18px 10px 0;
}

img.toHtml {
    width: 140px;
    float: right;
}

.album img {
    width: 195px;
    height: 90px;
    margin: 0 0 15px 0;
}

.album img:nth-child(2n) {
    float: right;
}

.share {
    box-sizing: border-box;
    width: 90px;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 10%;
    background: rgb(255, 176, 96);
    border: 1px solid rgb(54, 43, 41);
    text-align: center;
    padding: 10px 5px;
}

.social {
    padding-top: 5px;
}

.social img {
    border-radius: 50%;
    width: 20px;
}

main, .sheet-2, .sheet-3 {
    border: 2px solid black;
    position: relative;
}

main {
    background: rgb(236, 236, 236);
    bottom: 20px;
    right: 20px;
    padding: 30px;
}

.sheet-2 {
    background: rgb(205, 205, 205);
    bottom: 20px;
    right: 20px;
}

.sheet-3 {
    margin: 200px auto 0;
    background: rgb(173, 173, 173);
    left: 34px;
    top: 34px;
    max-width: 524px;
}

.bookmark-1, .bookmark-2, .bookmark-3 {
    border: 2px solid black;
    border-radius: 0 7px 7px 0;
    position: absolute;
    top: 35px;
    height: 30px;
}

.bookmark-3 {
    width: 40px;
    background: rgb(0, 176, 238);
    left: 502px;
}

.bookmark-2 {
    width: 70px;
    background: rgb(0, 180, 68);
    left: 498px;
}

.bookmark-1 {
    width: 105px;
    background: rgb(255, 143, 90);
    left: 488px;
}
